<div class="row">
	<div class="col-lg-4">
		<img src="//www.sylvain-lader.fr/wp-content/uploads/2012/07/placeholder.jpg" style="width:100px;height:100px;" />
		<hr />
		<h3><%= current_user.name %></h3>
		<h3><%= current_user.id %></h3>
	</div>
	<div class="col-lg-8">
		<h3>Update your Information</h3>
		<%= form_tag(role: "form") do %>
		  <div class="form-group">
		    <%= label_tag(:name, "Name") %>
		    <%= text_field_tag(:name, current_user.name) %>
		  </div>
		  <div class="form-group">
		    <%= label_tag(:email, "Email") %>
		    <%= text_field_tag(:email) %>
		  </div>
		  <div class="checkbox">
		    <%= label_tag(:newsletter, "Sign Up For Newsletter?") %>
		    <%= check_box_tag(:newsletter, current_user.newsletter) %>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		<% end %>
	</div>
</div>